body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

#main-container {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
